.Thankyou {
  background: url("./Images/thankyou.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  filter: grayscale(40%);
  padding: none;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Thankyou > h1 {
  margin-top: 20vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 10;
  font-size: 50px;
  color: white;
}
.Thankyou > h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 10;
  font-size: 30px;
  color: white;
}
