body {
  background: url(./Images/wallpaper.jpg);
  margin: 20px;
}

.text-truncate-container {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.truncate-container {
  height: 40em;
  overflow: auto;
}

.nav-pills .nav-link.active {
  background-color: #dd0000;
}

.nav-link {
  color: #dd0000;
}

.nav-link:hover {
  color: red;
}

.Container {
  overflow: scroll;
}