body {
  background: url(./Images/wallpaper.jpg);
  margin: 20px;
}

.text-truncate-container {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.truncate-container {
  height: 40em;
  overflow: auto;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.nav-pills .nav-link.active {
  background-color: #dd0000;
}

.nav-link {
  color: #dd0000;
}

.nav-link:hover {
  color: red;
}

.Container {
  overflow: scroll;
}

.myButton {
  overflow: hidden;
}

#note {
  border-radius:  50px;
  background: rgb(249, 248, 248);
  border: 2px solid lightgray;
  height: 30px;
  padding: 0 12px;
  color: rgb(84, 84, 84);
  font-size: 14px;
  align-items: center;
  display: flex;
  font-weight: medium;
  overflow: hidden;
  resize: none;
  margin: auto;
  outline: none;
}

#note:focus {
  border-color: rgb(240, 118, 105);
  outline:none;
}

.modal_close_button {
  width: 50%;
  margin-left: 25%;
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.btn-danger {
  background-color: #dd0000;
}

/* start payment.css*/
.darkmode{
  background: #343a40
}

.card1 {
  background: #343a40;
  color: #fff;
  width: 410px !important
}

.mrow {
  margin-top: 30px;
  margin-bottom: 30px
}

img {
  margin-right: 10px
}

.main span:hover {
  text-decoration: underline;
  cursor: pointer
}

.mrow img:hover {
  border-bottom: 1px solid #fff;
  cursor: pointer
}

.btn-primary {
  border: none;
  border-radius: 30px
}

h5 {
  padding-top: 8px
}

.form-group {
  position: relative;
  margin-bottom: 2rem
}

.form-control-placeholder {
  position: absolute;
  top: 6px;
  padding: 7px 0 0 10px;
  transition: 'ease all 500ms';
  opacity: 0.5;
  color: #dae0e5 !important;
  font-size: 75%
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
  font-size: 75%;
  color: #fff;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  top: 4px
}

.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff !important;
  border-radius: 0;
  outline: 0;
  color: #fff
}

.form-control:focus,
.form-control:after {
  outline-width: 0;
  border-bottom: 1px solid #fff !important;
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  color: #dae0e5;
  letter-spacing: 1px
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.nav-link {
display: block;
padding: .5rem 1rem
}

.nav-tabs .nav-item {
margin-bottom: -1px
}
.nav-tabs {
border-bottom: 1px solid #ddd
}
a.nav-link{
border-style: none;
}

.fade {
opacity: 0;
transition: opacity .15s linear
}

.fade.show {
opacity: 1
}

.tab-content>.tab-pane {
display: none
}

.tab-content>.active {
display: block
}

.row>.square-img{
background-position: center center;
position: relative
}

div.center-cropped{
position: relative;
}

div.center-cropped img{

position: relative;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
}
