.Navigatebar {
  background: transparent;
  height: 10vh;
  display: flex;
  justify-content: center;
  font-weight: 700;
}
.Navlink {
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
}
.Navlink :hover {
  color: red;
}
.SignupLogin {
  display: block;
  position: absolute;
  top: -0.5vh;
  right: 0;
  cursor: 5pointer;
  color: #fff;
  display: flex;
  flex-direction: row;
  height: max-content;
  width: max-content;
}
.Signup {
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 35px;
  margin-right: 1vw;
}
.Login {
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 35px;
  margin-right: 1vw;
}
