.Navigatebar {
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  font-weight: 700;
}
.Navlink {
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
}
